<div class="banner">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p>The best app to store your favourite cocktails' recipes</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
